body {
    background-color: rgb(197, 167, 172);
    font-family: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

.button-holder {
    width: 15%;
    margin: 10% auto 0 auto;
}
